---
apiVersion: batch/v1
kind: Job
metadata:
  name: upgrade-konvoy
spec:
  template:
    spec:
      containers:
      - name: upgrade-konvoy
        image: mesosphere/konvoy-upgrade-test
        command:
          - "$({ .konvoyVersion })"
          - "$github_token"
        env:
          - name: github_token
            valueFrom:
              secretKeyRef:
                name: download-konvoy
                key: token
      restartPolicy: Never

