apiVersion: batch/v1
kind: Job
metadata:
  generateName: app-slack-notification-
spec:
  template:
    spec:
      containers:
      - name: slack-notification
        image: curlimages/curl:7.69.1
        args:
          - '-X'
          - 'POST'
          - '-H'
          - 'Content-type: application/json'
          - '--data'
          - '{"text":"Changes detected: https://github.com/mesosphere/konvoy-soak/commit/$({ .replaceThis })\nUpdate starting: https://konvoy-staging.production.d2iq.cloud/dispatch/argo-cd/applications/konvoy-soak"}'
          - $(CPRO_SLACK_HOOK)
        env:
          - name: CPRO_SLACK_HOOK
            valueFrom:
              secretKeyRef:
                name: cprovencher-slack-hook
                key: url
      restartPolicy: Never
  backoffLimit: 0

